.about-intro{

    min-height:900px;

    display:grid;

    grid-template-columns: 1fr 500px;

    align-items:center;

    gap:80px;

    padding:140px 120px;

}



.about-text{

    max-width:700px;

}


.about-text h1{

    font-family:"Titillium Web",sans-serif;

    font-size:1.5rem;

    font-weight:300;

    letter-spacing:.1em;

    color:white;

    margin-bottom:60px;

}



.about-text p{

    font-family:"Titillium Web",sans-serif;

    font-size:.9rem;

    font-weight:300;

    line-height:1.1;

    letter-spacing:.08em;

    color:rgba(255,255,255,.65);

    margin-bottom:20px;

}



.about-more{

    margin-top:80px;

    text-align: right;
    

}



.about-image img{

    width:100%;

    aspect-ratio:4/5;

    object-fit:cover;

    border-radius:6px;

    opacity:.85;

}
