body{
  padding: 0px;
  overflow: hidden;
}
.hero{
  position:relative;

  width:100%;
  height:100vh;

  overflow:hidden;
  padding: 0;
}

.bg-image{
  position:absolute;
  opacity: 80%;

  width:110%;
  height:100%;

  object-fit:cover;

  object-position: left center;

  top:0;
  right: 0;

  z-index:1;
}

.contact-content{
  position: absolute;
  right: 12%;
  top: 45%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 5px;

  align-items: flex-start;
  z-index: 2;
}

.contact-text h1{
color:rgb(255, 255, 255);
  font-family:"Titillium Web",sans-serif;

    font-weight:700;

    font-size:1.6rem;

    line-height:1.1;

    letter-spacing:.03em;

  margin-bottom:20px;
}
.label{

  font-family:"Titillium Web",sans-serif;

    font-weight:200;

    font-size:1rem;

    line-height:1.2;

    color:white;

    letter-spacing:.08em;
}

.value{
  font-weight: 200;
  color:rgba(255,255,255,.45);
  font-family:"Titillium Web",sans-serif;
  font-size: 1rem;
}

p{
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-bottom: 20px;
}

.contact-form{
  display:flex;
  flex-direction:column;
  gap:12px;
  width:400px;
}

.contact-form input,
.contact-form textarea{
  background:black;
 color:rgba(255,255,255,.45);
  color:white;
  padding:10px;
 font-family:"Titillium Web",sans-serif;
}

.contact-form textarea{
  min-height:120px;
  resize:none;
}

.contact-form button{
  color:black;
  border:none;
  padding:10px;
  cursor:pointer;
}
.contact-form button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: white;
  color: black;

  border: none;
  border-radius: 4px;

  padding: 10px;

  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;

  cursor: pointer;

  transition: opacity 0.3s ease;
}

.contact-form button:hover{
  opacity: 0.8;
}

@media (max-width:700px){

  .bg-image{
    object-position:35% center;

  }

  .contact-content{
  left: auto;
    right: 20px;
    top: 35%;
    transform: translateY(-50%);
  }

  .contact-text{
    width: 100%;
    text-align: left;
  }

  .contact-text h1{
    font-size: 1.2rem;
    font-weight: 400;
  }
  .label{
  font-weight: 400;
  font-size: 1rem;
}

.value{
  font-weight: 200;
  font-size: 1rem;
}
p{
  gap: 10px;
  margin-bottom: 10px;
  
}
.contact-form{
  width:250px;
}
}

@media (min-width: 701px) and (max-width: 1100px) {


.bg-image{
      object-position:35% center;
}

  .contact-content{
  left: auto;
    right: 60px;
    top: 35%;
    transform: translateY(-50%);
  }

   .contact-text h1{
    font-size: 1.4rem;
    font-weight: 400;
  }

    .label{
  font-weight: 400;
  font-size: 1rem;
}

.value{
  font-weight: 200;
  font-size: 1.1rem;
}

.contact-form{
  width:450px;
}

}

@media (max-width: 380px) {

  .bg-image{
      object-position:45% center;
}

  .contact-content{
  left: auto;
    right: 20px;
    top: 45%;
    transform: translateY(-50%);
  }

.contact-form{
  width:270px;
}
}