*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}.hero{
  position:relative;

  width:100%;
  height:100vh;

  overflow:hidden;
}

.bg-image{
  position:absolute;

  width:100%;
  height:100%;

  object-fit:cover;

object-position: right center;

  top:0;
  left:0;

  z-index:1;
}

.right-panel{
  position:absolute;

  right:8vw;
  top:50%;

  transform:translateY(-50%);

  display:flex;
  flex-direction:column;

  gap:24px;

  z-index:2;
}

.name{
  color:white;
  font-size:clamp(4rem, 10vw, 8rem);

  letter-spacing:0.2em;
  line-height:0.9;

  font-weight:200;

  margin-bottom:20px;
}
.nav-button{
  width:280px;
  height:70px;

  border:none;
  border-radius:999px;

  background:#f6b7e5;

  font-family:'Oswald', sans-serif;
  font-size:2.5rem;
  font-weight:700;

  color:black;

  cursor:pointer;

  transition:0.25s ease;

  text-decoration:none;

display:flex;
justify-content:center;
align-items:center;
}

.nav-button:hover{
  transform:translateY(-4px);
}

@media (max-width:768px){

  .bg-image{
    object-position:60% center;
  }

  .right-panel{
    right:20%;
    transform:translate(30%, -80%);
    align-items:center;
    gap:16px;
  }

  .name{
    text-align:center;
    font-size:3.5rem;
    line-height:0.9;
    letter-spacing:0.02em;
  }

  .nav-button{
    width:110px;
    height:35px;
    font-size:1.2rem;
  }
}