.project-layout {
  display: block;
  padding: 40px;
}

.project-intro {
  width: 100%;

  min-height: 450px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  align-items: end;

  padding: 40px 40px 24px;
}

.project-intro-content {
  grid-column: 7 / 10;

  width: 100%;
  max-width: 450px;
}

.project-intro-title {
  margin: 0 0 2px;

  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size: 1.5rem;

  line-height: 1.1;
  letter-spacing: 0.03em;
}

.project-intro-title2 {
  margin: 0 0 10px;

  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;

  font-size: 1.15rem;
  line-height: 1.2;
}

.project-intro-description {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;

  color: rgba(255, 255, 255, 0.5);

  font-size: 1rem;
  line-height: 1.35;
}

.section-one{

    width:100%;

    padding:10px;

    gap: 10px;
}

.section-one-gallery{

    display:grid;

    grid-template-columns:1fr;

    gap:10px;
}

.section-one-gallery img{

    width:100%;

    aspect-ratio:16 / 5;

    object-fit:cover;

    display:block;
}

.section-two{

    width:100%;

    padding:10px;

    display:grid;

    grid-template-columns:2fr 1fr;

    grid-template-areas:
        "images text"
        "images list";

    gap:10px;

    align-items:start;
}


.section-two-images{

    grid-area:images;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:10px;

    padding: 0 100px;
}


.section-two-images img{

    width:100%;

    aspect-ratio:3 / 4;

    object-fit:cover;

    display:block;
}

.section-two-text{

    grid-area:text;

    margin-top: 200px;
}

.section-two-text h2{

    margin:0 0 10px;

    font-family:"Titillium Web", sans-serif;

    font-size:1.15rem;

    font-weight:200;

    text-align: left;
}

.section-two-text p{

    margin:0;

    font-family:"Titillium Web", sans-serif;

    font-size:1rem;

    font-weight:200;

    line-height:1.35;

    color:rgba(255,255,255,.75);

    text-align: left;
}

.section-four{

    width:100%;

    padding:20px 10px;
}

.section-four-text{

    max-width:700px;

    margin:0 auto;

    text-align:center;
}

.section-four-text h2{

    margin:0 0 14px;

    font-family:"Titillium Web", sans-serif;

    font-size:1.15rem;

    font-weight:200;
}

.section-four-text p{

    margin:0;

    font-family:"Titillium Web", sans-serif;

    font-size:1rem;

    font-weight:200;

    line-height:1.35;

    color:rgba(255,255,255,.75);
}
.section-three{

    width:100%;

    padding:10px;
}

.section-three-gallery{

    position:relative;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:10px;
}

.section-three-gallery .portrait{

    width:100%;

    aspect-ratio:3 / 4;

    object-fit:cover;

    display:block;

    opacity: .5;
}

.section-three-gallery .caption-wrapper .portrait:hover{
    opacity: .5 !important;
}

.section-three-gallery .caption-wrapper:has(.square){

    position:absolute;

    width:400px;

    aspect-ratio:3/4;

    z-index:5;
}

.section-three-gallery .square{

    width:100%;
    height:100%;

    object-fit:cover;

    display:block;
}

.section-three-gallery .caption-wrapper:has(.square-1){

    left:18%;

    top:6%;
}

.section-three-gallery .caption-wrapper:has(.square-2){

    left:53%;

    top:6%;
}

.section-three-mobile{
    display:none;
}
.section-five{

    width:100%;

    padding:10px;

    display:grid;

    grid-template-columns:1fr 2fr;

    gap:10px;

    align-items:center;
}

.section-five-text{

    max-width:500px;

    text-align: right;
}

.section-five-text h2{

    margin:0 0 10px;

    font-family:"Titillium Web", sans-serif;

    font-size:1.15rem;

    font-weight:200;
}

.section-five-text p{

    margin:0;

    font-family:"Titillium Web", sans-serif;

    font-size:1rem;

    font-weight:200;

    line-height:1.35;

    color:rgba(255,255,255,.75);
}

.section-five-gallery{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:10px;
}

.section-five-gallery img{

    width:100%;

    aspect-ratio:1;

    object-fit:cover;

    display:block;
}
.section-six{

    width:100%;

    padding:10px;

    gap: 10px;
}

.section-six-gallery{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:10px;
}

.section-six-gallery img{

    width:100%;

    aspect-ratio:3 / 4;

    object-fit:cover;

    display:block;
}

.section-seven{

    width:100%;

    padding:10px;
}

.section-seven-text{

    max-width:650px;

    margin:0 auto 40px;

    text-align:center;
}

.section-seven-text h2{

    margin:0 0 10px;

    font-family:"Titillium Web", sans-serif;

    font-size:1.15rem;

    font-weight:200;
}

.section-seven-text p{

    margin:0;

    font-family:"Titillium Web", sans-serif;

    font-size:1rem;

    font-weight:200;

    line-height:1.35;

    color:rgba(255,255,255,.75);
}

.section-seven-gallery{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:10px;
}

.section-seven-gallery img{

    width:100%;

    aspect-ratio:3 / 4;

    object-fit:cover;

    display:block;
}

.section-eight{

    width:100%;

    padding:10px;

    gap:10px
}

.section-eight-gallery{

    display:grid;

    grid-template-columns:1fr 2fr;

    gap:10px;

    align-items:start;
}

.section-eight-gallery .caption-wrapper{

    display:block;

    width:100%;
}

.section-eight-gallery img{

    width:100%;

    object-fit:cover;

    display:block;
}

.section-eight-gallery .caption-wrapper:first-child{

    aspect-ratio:3 / 4;
}

.section-eight-gallery .caption-wrapper:first-child img{

    height:100%;
}

.section-eight-gallery .caption-wrapper:last-child{

    align-self:end;
}

.section-eight-gallery .caption-wrapper:last-child img{

    aspect-ratio:16 / 10;
}

.section-ten{

    width:100%;

    padding:10px;

    gap: 10px;
}

.section-ten-gallery{

    display:grid;

    grid-template-columns:1fr;

    gap:10px;
}

.section-ten-gallery .caption-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.section-ten-gallery img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
}

.section-nine{

    width:100%;

    padding:10px;

    gap: 10px;
}


.section-nine-content{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:10px;

    align-items:start;

    padding-top: 90px;
}

.section-nine-video{

    position:relative;

    width:fit-content;

    justify-self:end;
}

.section-nine-video video{

    height:600px;

    width:auto;

    display:block;

    aspect-ratio:10 / 16;

    object-fit:cover;

    border-radius: 6px;
}

.section-nine-video-wrapper {

    position: relative;
}

.video-unmute {

    position: absolute;

    top: 10px;
    left: 10px;

    width: 36px;
    height: 36px;

    border: none;

    border-radius: 50%;

    background: rgba(0,0,0,.45);

    color: white;

    cursor: pointer;

    backdrop-filter: blur(5px);
}


.section-nine-right{

    display:flex;

    flex-direction:column;

    gap:20px;

    padding-right: 50px;
}

.section-nine-right img{

    width:100%;

    aspect-ratio:16 / 4;

    object-fit:cover;

    display:block;
}

.section-nine-text{

    max-width:690px;
}

.section-nine-text p{

    margin:0;

    font-family:"Titillium Web", sans-serif;

    font-size:1.2rem;

    font-weight:200;

    line-height:1.35;

    color:rgba(255,255,255,.75);

    text-align: center;
}
video.no-hover-caption + .media-caption,
img.no-hover-caption + .media-caption{
    display:none;
}

@media (max-width: 700px) {

          .project-layout{
    flex-direction:column;

    gap:20px;

    padding:10px;
    margin-top: 20px;
  }

  .project-intro {
    min-height: 350px;

    grid-template-columns: repeat(8, 1fr);

    padding: 30px 20px 10px;
  }

 .project-intro-content {
    grid-column: 3 / 9;

    max-width: 420px;
  }
    .project-intro-title {
  font-size: 1.1rem;
}
.project-intro-title2 {
  font-size: 1rem;
}
.project-intro-description {
  font-size: 0.9rem;
}

.section-title{

  color:white;
  font-size: 0.9em;
  font-weight: 700;
  padding-bottom: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;

}
.section-one{

    width:100%;

    padding:10px;

    gap: 10px;
}

.section-one-gallery{

    gap:10px;
}

.section-one-gallery img{

    width:100%;

    aspect-ratio:16 / 7;

    object-fit:cover;

}

.section-two{

    width:100%;

    padding:0 40px;

    display:grid;

    grid-template-columns:1fr;

    grid-template-areas:
        "text"
        "images"
        "list";

    gap:10px;
}
.section-two-text{

    grid-area:text;

    margin-top: 10px;
    
}

.section-two-images{

    grid-area:images;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:10px;

    padding: 0px;
}

.section-two-images{

    order:2;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:10px;
}

.section-two-images img{

    width:100%;

    aspect-ratio:3 / 4;

    object-fit:cover;

    display:block;
}
.section-two-text h2{

    color:white;
  font-size: 0.9em;
  font-weight: 700;
  padding-bottom: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
    text-align: center;
}

.section-two-text p{

    font-size:.8rem;

    text-align: center;

    padding-bottom: 10px;
}
.section-four{

    padding:10px 10px;
}

.section-four-text{

    max-width:100%;
}

.section-four-text h2{

     color:white;
  font-size: 0.9em;
  font-weight: 700;
  padding-bottom: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;

    margin-bottom:10px;
}

.section-four-text p{

    font-size:.8rem;

    line-height:1.5;
}
    .section-three{
        display:none;
    }


.section-three-mobile{

    display:flex;

    flex-direction:column;

    gap:10px;

    padding:10px;

    width: 100%;
}

.mobile-landscapes{

    display:flex;

    flex-direction:column;

    gap:10px;
}

.mobile-landscapes img{

    width:100%;

    aspect-ratio:16 / 5;

    object-fit:cover;

    display:block;
}

.mobile-portraits{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:10px;
}

.mobile-portraits img{

    width:100%;

    aspect-ratio:3 / 4;

    object-fit:cover;

    display:block;
}
.section-five{

    display:flex;

    flex-direction:column;

    width:100%;

    padding:10px;

    gap:10px;
}

.section-five-text{

    max-width:100%;

    text-align: left;
}

.section-five-text h2{

    color:white;
  font-size: 0.9em;
  font-weight: 700;
  padding-bottom: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.section-five-text p{

    font-size:.8rem;
}

.section-five-gallery{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:10px;

    width:100%;
}

.section-five-gallery img{

    width:100%;

    aspect-ratio:1;

    object-fit:cover;
}
.section-six-gallery{

    display:flex;

    flex-wrap:wrap;

    gap:10px;
}

.section-six-gallery .caption-wrapper{

    display:block;
}

.section-six-gallery img{

    width:100%;

    aspect-ratio:3 / 4;

    object-fit:cover;

    display:block;
}

.section-six-gallery .caption-wrapper:nth-child(1){

    order:1;

    width:calc(50% - 5px);
}

.section-six-gallery .caption-wrapper:nth-child(2){

    order:3;

    width:60%;

    margin:0 auto;
}

.section-six-gallery .caption-wrapper:nth-child(3){

    order:2;

    width:calc(50% - 5px);
}

    .section-seven{
        padding:10px;
    }

    .section-seven-text{
        max-width:100%;
        margin:0 auto 20px;
    }

    .section-seven-text h2{
          color:white;
  font-size: 0.9em;
  font-weight: 700;
  padding-bottom: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
    }

    .section-seven-text p{
        font-size:0.8rem;
    }

    .section-seven-gallery{

        display:flex;

        gap:10px;

        overflow-x:auto;

        overflow-y:hidden;

        padding:0 20px;

        scroll-snap-type:x mandatory;

        -webkit-overflow-scrolling:touch;

        scrollbar-width: thin;
        scrollbar-color: rgba(89, 88, 88, 0.77) transparent;
    }

    .section-seven-gallery::-webkit-scrollbar{
        height: 4px;
    }

    .section-seven-gallery::-webkit-scrollbar-track{
        background: transparent;
    }

    .section-seven-gallery::-webkit-scrollbar-thumb{
        background: rgba(255,255,255,.3);
        border-radius: 2px;
    }


    .section-seven-gallery{
        scrollbar-width:thin;
    }

    .section-seven-gallery .caption-wrapper{

        display:block;

        flex:0 0 140px;

        width:140px;

        height:200px;

        scroll-snap-align:center;

        overflow:hidden;
    }

    .section-seven-gallery img{

        width:100%;
        height:100%;

        object-fit:cover;

        display:block;
    }

    .section-eight{
        padding:10px;
    }

    .section-eight-gallery{

        display:flex;

        flex-direction:column;

        gap:10px;
    }

    .section-eight-gallery .caption-wrapper{
        display:block;
        width:100%;
    }

    .section-eight-gallery img{
        width:100%;
        object-fit:cover;
        display:block;
    }

    .section-eight-gallery .caption-wrapper:first-child{
        order: 2;
        aspect-ratio: 3 / 4;
        width: 75%;
        margin: 0 auto;
    }

    .section-eight-gallery .caption-wrapper:first-child img{
        height:100%;
    }

    .section-eight-gallery .caption-wrapper:last-child{
        order: 1;
        aspect-ratio: 16 / 9;
    }

    .section-eight-gallery .caption-wrapper:last-child img{
        height:100%;
    }

.section-nine{

    width:100%;

    padding:10px;
}

.section-nine-content {
    display: grid;

    grid-template-columns: 140px 1fr;

    grid-template-areas:
        "image image"
        "video text";

    gap: 10px;

    align-items: start;

    padding: 10px;
}

.section-nine-video-wrapper {
    grid-area: video;
}

.section-nine-right {
    display: contents;
}

.section-nine-right img {
    grid-area: image;

    width: 100%;
    aspect-ratio: 18 / 5;
    object-fit: cover;
}

.section-nine-text {
    grid-area: text;

    max-width: none;
    padding-top: 40px;
}

.section-nine-text p {
    font-size: .8rem;
    line-height: 1.35;
    text-align: left;
    padding-top: 0;
}

.section-nine-video video {
    height: 220px;
    width: auto;
}

.section-ten-gallery .caption-wrapper {
    width: 100%;
}

}

@media (min-width: 701px) and (max-width: 1100px) {

.project-layout {
  display: block;
  padding: 10px;
}
.project-intro {
  width: 100%;

  min-height: 450px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  align-items: end;

  padding: 40px 40px 24px;
}
    .project-intro-content {
  grid-column: 6 / 12;

  width: 100%;
  max-width: 650px;
}
  .project-intro-title {
    font-size: 1.5rem;
    padding-top: 50px;
  }

  .project-intro-title2 {
    font-size: 1.15rem;
  }

  .project-intro-description {
    font-size: 1rem;
  }

  .section-title,
  .section-two-text h2,
.section-four-text h2,
.section-five-text h2,
.section-seven-text h2{
    font-size: 1.2rem;
  }
  .section-one,
  .section-two,
  .section-three,
  .section-four,
  .section-five,
  .section-six, 
  .section-seven,
  .section-eight,
  .section-nine,
  .section-ten{
    padding-top: 20px;
    width: 100%;
}

  .section-two-text p,
  .section-four-text p,
  .section-five-text p,
  .section-seven-text p,
  .section-nine-text p,
  .section-ten-text p{
    font-size: 1rem;
  }

.section-one{
    width:100%;
    padding:10px;
    gap: 10px;
}

.section-two {
        width: min(100%, 1100px);
        margin: 0 auto;
    }

.section-two-images{

    padding: 0 10px 0 40px;
}

.section-two-text{

    margin-top: 50px;
}

.section-three-gallery .caption-wrapper:has(.square){

    width:240px;

}
.section-nine-content {
    display: grid;

    grid-template-columns: 300px 1fr;

    grid-template-areas:
        "image image"
        "video text";

    gap: 20px;

    align-items: start;

    padding: 40px;
}

.section-nine-video-wrapper {
    grid-area: video;
}

.section-nine-right {
    display: contents;
}

.section-nine-right img {
    grid-area: image;

    width: 100%;
    aspect-ratio: 18 / 5;
    object-fit: cover;
}

.section-nine-text {
    grid-area: text;
    max-width: 100%;
    padding-top: 70px;
}

.section-nine-text p {
    font-size: 1rem;
    text-align: left;
}

.section-nine-video video {
    height: 420px;
    width: auto;
}

.section-ten-gallery img {

    aspect-ratio: 16 / 10;

}

}
@media (max-width: 380px) {

    .project-layout {
        padding: 5px;
        margin-top: 20px;
    }

    .project-intro {
        min-height: 260px;
        padding: 20px 10px 10px;
    }

    .project-intro-content {
        grid-column: 3 / 9;
        max-width: 250px;
    }

    .project-intro-title {
        font-size: 0.9rem;
    }

    .project-intro-title2 {
        font-size: 0.8rem;
    }

    .project-intro-description {
        font-size: 0.8rem;
    }
.section-title-mobile{
    font-size: 0.85rem;
}
.section-title,
.section-two-text h2,
.section-four-text h2,
.section-five-text h2,
 .section-seven-text h2{
    font-size: 0.85rem;

}
.section-two-text p,
.section-four-text p,
.section-five-text p,
  .section-seven-text p,
.section-nine-text p{
        font-size: 0.7rem;
    }

}