
.project-layout{
  display:flex;

  align-items:flex-start;

  gap:80px;

  padding:40px;

  min-width: 0;
}

.project-info{
  width: 600px;

  flex-shrink:0;

  position:sticky;

  top:40px;

  text-align: right;
}
.project-info h1{
  font-size:4.5rem;
  letter-spacing:0.1em;

  font-weight:200;

  margin-bottom:30px;
  margin-top: 200px;
}

.project-info p{
    font-size:1.2rem;
    opacity: 70%;
     margin-bottom: 20px;
}

.project-gallery{
  display:grid;

  grid-template-columns:repeat(2, 1fr);

  gap:24px;
  
}

.project-layout{
  display:flex;

  align-items:flex-start;

  gap:40px;

  padding:40px;
}

.gallery-column{
  display:flex;

  flex-direction:column;

  gap:20px;

  min-width:0;
}

.media-row{
  display:flex;

  gap:12px;
}

img,
video{
  width:100%;

  height:auto;

  display:block;

  object-fit:cover;
}

.two-up > *{
  flex:1;

  min-width:0;
}

.gallery-column img,
.gallery-column video{
  width:100%;

  height:auto;

  display:block;

  object-fit:cover;
}


@media (max-width:768px){

  .project-layout{
    flex-direction:column;

    gap:20px;

    padding:10px;

  }
  .project-info{
    text-align: left;
  }
.project-info h1{
  font-size:2rem;
  letter-spacing:0.1em;

  font-weight:100;

  margin-bottom:10px;
  margin-top: 10px;
}

.project-info p{
    font-size:0.7rem;
    opacity: 70%;
 margin-bottom: 15px;
}
  .project-gallery{
    display:grid;

    grid-template-columns:repeat(2, 1fr);

    gap:8px;
  }

  .gallery-column{
    gap: 8px;
  }

  .project-info{
    width:100%;

    position:relative;

    top:auto;
  }

 .project-gallery{
  grid-template-columns:repeat(2, 1fr);

  gap:12px;
}

}

