*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

.back-link{

    display:inline-block;

    font-family:"Titillium Web", sans-serif;

    font-size:1.15rem;

    font-weight: 200;

    letter-spacing:.12em;

    text-transform:uppercase;

    text-decoration:none;

    color:rgba(255,255,255,.45);

    transition:.25s ease;
}

.back-link:hover{

    color:white;
}

.top-back{

   display: none;
}

.bottom-back{

    display:block;

    margin:40px 0 40px 40px;
}

body{
  margin:0;
  padding:0;
  background:#000;

  color:white;

  padding:0px;

  overflow-x:hidden;
}

p{
  line-height: 1.5;
}

.site-header{
  width:100%;

  display:flex;

  justify-content:flex-end;

  align-items:center;

  padding:20px 20px;

  position:relative;

  z-index:1000;
}


.desktop-nav{
  display:flex;

  gap:32px;
}

.desktop-nav a{
  color:white;

    font-family:"Titillium Web", sans-serif;

    font-size:1.15rem;

    font-weight: 200;

    letter-spacing:.12em;

    text-transform:uppercase;

    text-decoration:none;

    transition:.25s ease;

  transition:0.2s ease;
}

.desktop-nav a:hover{
    color:rgba(255,255,255,.6);
}


.mobile-header {
    display:none;
}

.site-footer{
  width:100%;

  display:flex;
  justify-content:space-between;
  align-items:flex-end;

  padding:40px 40px 40px;

  margin-top:10px;
}

.footer-left{
  display:flex;
  flex-direction:column;

  gap:6px;
}

.footer-name{
  font-size:1rem;
  color:rgba(255, 255, 255, 0.182);
  letter-spacing: 0.08em;
  font-family:"Titillium Web",sans-serif;
}

.footer-left a{
color:rgba(255, 255, 255, 0.182);
   font-family:"Titillium Web",sans-serif;

  text-decoration:none;

  font-size:1rem;

  opacity:0.7;
}

.footer-right{
  display:flex;
  flex-direction:column;

  align-items:flex-end;

  gap:6px;
}

.footer-right a{
color:rgba(255, 255, 255, 0.182);

  text-decoration:none;
   font-family:"Titillium Web",sans-serif;

  font-size:0.9rem;

  letter-spacing:0.08em;

  opacity:0.7;
}

.footer-right a:hover{
  color:white;
  opacity: 1;
}

.footer-left a:hover{
  color:white;
  opacity: 1;
}


@media (max-width:1100px){

  body{
    padding:0px;
  }

  .desktop-nav{
    display:none;
  }

    .top-back{

      display: block;

        position:absolute;

        top:20px;

        left:20px;

        font-size:.55rem;

    }

    .bottom-back{

        margin:10px 0 30px 20px;

        font-size:.55rem;
    }

    .mobile-header{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 25px 20px;
        z-index: 100;
    }

    .mobile-nav{
        display: flex;
        justify-content: flex-end;
        gap: 30px;
    }

    .mobile-nav a{
        color: white;
        text-decoration: none;
        font-family: "Titillium Web", sans-serif;
        font-size: .8rem;
        letter-spacing: .12em;
        font-weight: 300;
    }

  .site-header{
    padding:5px 5px 10px 5px;
  }

  .site-footer{
    flex-direction:column;

    align-items:flex-start;

    gap:40px;

    padding:20px 20px 40px;
  }

  .footer-right{
    align-items:flex-start;
  }

  .footer-left a{
    font-size: 0.7em;
  }
  .footer-right a{
    font-size: 0.7em;
  }

}

