.project-layout {
  display: block;
  padding: 40px;
}

.project-intro {
  width: 100%;

  min-height: 450px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  align-items: end;

  padding: 40px 40px 24px;
}

.project-intro-content {
  grid-column: 7 / 10;

  width: 100%;
  max-width: 450px;
}

.project-intro-title {
  margin: 0 0 2px;

  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size: 1.5rem;

  line-height: 1.1;
  letter-spacing: 0.03em;
}

.project-intro-title2 {
  margin: 0 0 10px;

  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;

  font-size: 1.15rem;
  line-height: 1.2;
}

.project-intro-description {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;

  color: rgba(255, 255, 255, 0.5);

  font-size: 1rem;
  line-height: 1.35;
}

.section-title {
color: white;
     font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.15rem;

    padding-bottom: 5px;



}
.section-one {
    width: 100%;

    display: grid;
    grid-template-columns: minmax(260px, 1fr) minmax(0, 2fr);

    gap: 10px;

    padding: 10px;

    align-items: stretch;
}

.section-one .caption-wrapper{
    display: block;
    width: 100%;
    height: 600px;
}

.section-one-portrait,
.section-one-landscape {
    display: block;

    width: 100%;
    height: 100%;

    min-width: 0;

    object-fit: cover;
}

.section-two {
    width: 100%;

    display: grid;

    grid-template-columns:
        minmax(220px, 1fr)
        minmax(0, 2fr);

    gap: 10px;

    padding: 10px;

    align-items: start;
}

.section-two-text {
    padding-top: 10px;

    font-family: "Titillium Web", sans-serif;
    font-weight: 200;

    font-size: 1rem;
    line-height: 1.35;

    color: rgba(255,255,255,.75);

    text-align: right;
}

.section-two-images {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 10px;
}

.section-two-image {
    width: 100%;

    aspect-ratio: 16 / 10;

    object-fit: cover;

    display: block;
}


.section-three {
    width: 100%;

    display: grid;

    grid-template-columns:
        1.1fr
        1.6fr
        0.9fr;

    gap: 10px;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;

    align-items: start;
}

.mobile-only {
    display: none;
}

.section-three-portrait {
    display: block;

    width: 100%;
    aspect-ratio: 3 / 4;

    object-fit: cover;
}

.section-three-middle {
    display: grid;

    gap: 10px;
}

.section-three-landscape-small,
.section-three-landscape-large {

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.section-three-landscape-small {
    aspect-ratio: 16 / 6.2;
}

.section-three-landscape-large {
    aspect-ratio: 16 / 8;
}

.section-three-text {
    padding-top: 300px;

    text-align: left;

    font-family: "Titillium Web", sans-serif;
    font-weight: 200;

    font-size: 1rem;
    line-height: 1.35;

    color: rgba(255,255,255,.75);
}

.section-four {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
    padding: 50px 10px;
}


.section-four-video {
    width: 100%;

    aspect-ratio: 1 / 1;

    object-fit: cover;

    display: block;
}

.section-five {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;

    display: grid;

    grid-template-columns:
        1fr
        2fr;

    gap: 30px;

    align-items: center;

    padding: 60px 40px;
}

.section-five-text {

    font-family: "Titillium Web", sans-serif;
    font-weight: 200;

    font-size: 1rem;
    line-height: 1.35;

    color: rgba(255,255,255,.75);

    text-align: center;
}

.section-five-video {

    width: 100%;

    aspect-ratio: 16 / 9;

    object-fit: cover;

    display: block;
}
.section-six {

    width: 100%;

    display: grid;

    grid-template-columns:
        1.3fr
        1fr
        1fr
        1fr;

    gap: 10px;

    padding: 10px;

    height: 500px; 
}


.section-six-feature {

    position: relative;

    height: 100%;

    overflow: hidden;
}


.section-six-feature img {

    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}

.section-six-image {

    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}

.section-six-text {

    position: absolute;

    top: 20px;
    left: 20px;

    z-index: 2;

    max-width: 64%;
}

.section-six-text p {

    margin: 0;

    font-family: "Titillium Web", sans-serif;
    font-weight: 200;

    font-size: 1rem;
    line-height: 1.35;

    color: rgba(255,255,255,.85);
}

.section-seven {

    width: 65%;

    margin-left: 10px;
    margin-right: auto;

    display: grid;

    grid-template-columns:
        2fr
        1.2fr;

    gap: 10px;

    padding: 60px 10px;

    align-items: stretch;
}


.section-seven-image,
.section-seven-video {

    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}
.section-eight {
    width: 60%;

    padding: 10px;
    padding-bottom: 60px;

    margin: 0 auto;

    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 20px;
}


.section-eight-video {

    width: 100%;

    aspect-ratio: 3 / 4;

    object-fit: cover;

    display: block;

}

.section-nine {

    width: 100%;

    display: grid;

    gap: 10px;

    padding: 10px;

}

.section-nine-top {

    width: 100%;

    display: grid;

    grid-template-columns:
        3fr
        1fr;

    gap: 20px;

    align-items: start;

}

.section-nine-portraits {

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 10px;
}


.section-nine-portraits img {

    width: 100%;

    aspect-ratio: 3 / 4;

    object-fit: cover;

    display: block;
}


.section-nine-landscapes {

    width: 100%;

    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 10px;
}


.section-nine-landscapes img {

    width: 100%;

    aspect-ratio: 16 / 12;

    object-fit: cover;

    display: block;
}

.section-nine-text {

    padding-top: 10px;

    font-family: "Titillium Web", sans-serif;
    font-weight: 200;

    font-size: 1rem;
    line-height: 1.35;

    color: rgba(255,255,255,.75);

}

.section-ten {
    width: 100%;
    padding: 10px 10px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.section-ten-text {
    width: 50%;
    max-width: 650px;

    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;

    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.35;

    color: rgba(255,255,255,.75);
}

.section-ten-media {
    width: 90%;
    margin: 0 auto;
    align-items: stretch;

    display: grid;
    grid-template-columns: minmax(260px, 1fr) minmax(0, 2fr);

    gap: 10px;
}
.section-ten .caption-wrapper{
    display: block;
    width: 100%;
    height: 500px;
}

.section-ten-video,
.section-ten-image {
    width: 100%;
    height: 100%;

    min-width: 0;

    object-fit: cover;
    display: block;
}

.section-eleven {
    width: 100%;
    padding: 10px 10px 60px;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

.section-eleven-row-one {
    width: 70%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 4fr;

    gap: 10px;

    align-items: stretch;
}

.section-eleven-text {
    display: flex;
    align-items: center;

    padding: 20px;

    font-family: "Titillium Web", sans-serif;
    font-weight: 200;

    font-size: 1rem;
    line-height: 1.35;
    text-align: right;

    color: rgba(255,255,255,.75);
}

.section-eleven-text p {
    margin: 0;
}

.section-eleven-video {
    width: 100%;
    height: 100%;

    aspect-ratio: 16 / 9;

    object-fit: cover;
    display: block;
}

.section-eleven-row-two {
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.section-eleven-image {
    width: 100%;

    aspect-ratio: 16 / 12;

    object-fit: cover;
    display: block;
}
.dissertation-link{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 10px;

}
.dissertation-label {
    margin: 0;
   font-family: "Titillium Web", sans-serif;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    padding-bottom: 30px;
}

.dissertation-link h2{
     font-family: "Titillium Web", sans-serif;
    font-weight: 200;

    font-size: 1.3rem;
    letter-spacing: 0.08em;

    padding-bottom: 5px;
    font-style: italic;

    color: white;
}
.dissertation-description {

    padding: 20px;

    font-family: "Titillium Web", sans-serif;
    font-weight: 200;

    font-size: 1rem;
    line-height: 1.35;

    color: rgba(255,255,255,.75);
}
.dissertation-link a {
      margin: 0;
   font-family: "Titillium Web", sans-serif;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    padding-bottom: 30px;
    color: rgba(255,255,255,.75);
}

@media (max-width: 700px) {

    .project-layout{
    flex-direction:column;

    gap:20px;

    padding:10px;
    margin-top: 20px;
  }

  .project-intro {
    min-height: 350px;

    grid-template-columns: repeat(8, 1fr);

    padding: 90px 20px 10px;
  }

 .project-intro-content {
    grid-column: 3 / 9;

    max-width: 420px;
  }
    .project-intro-title {
  font-size: 1.1rem;
}
.project-intro-title2 {
  font-size: 1rem;
}
.project-intro-description {
  font-size: 0.9rem;
}

.section-title{
  color:white;
  font-size: 0.9em;
  font-weight: 700;
  padding-bottom: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
 .section-one {
        width: 100%;
        grid-template-columns: 1fr 2fr;

        gap: 10px;

        padding: 10px;
    }

    .section-one .caption-wrapper{
       height: clamp(140px, 45vw, 220px);
    }

        .section-two {
        grid-template-columns: 1fr;

        gap: 10px;

        width: 100%;
        padding: 0px 10px;
    }

    .section-two-text {
        text-align: center;

        padding-top: 0px;
    }
    .section-two-text p {
        font-size: 0.8em;
    }

    .section-two-images {
        grid-template-columns: 1fr;

        gap: 10px;
    }

    .section-two-image {
        aspect-ratio: 16 / 10;
    }


    .section-three {
        display: grid;
        padding: 10px;
        width: 100%;

        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "top top"
            "portrait middle";

        gap: 10px;

        align-items: start;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 10;
        object-fit: cover;
    }

    .section-three-middle {
        display: contents;
    }

    .section-three-middle .caption-wrapper{
        display: contents;
    }

    .section-three .caption-wrapper:has(.section-three-portrait){
        display: block;
        width: 100%;
        grid-area: portrait;
    }

    .section-three-landscape-small {
        grid-area: top;

        width: 100%;

        aspect-ratio: 16 / 6.5;

        object-fit: cover;
    }

    .section-three-portrait {
        width: 100%;

        aspect-ratio: 3 / 4.1;

        height: 100%;

        object-fit: cover;
    }

    .section-three-right {
        grid-area: middle;

        display: grid;

        gap: 10px;

        align-content: start;
    }

    .section-three-right .caption-wrapper{
        display: block;
        width: 100%;
    }

    .section-three-landscape-large {
        width: 100%;

        aspect-ratio: 16 / 10;

        object-fit: cover;
    }

    .section-three-text {
        padding-top: 0px;
        font-size: 0.7rem;

        text-align: left;
    }



    .section-four{
        width: 100%;
        padding: 20px 10px;
        gap: 10px;
         grid-template-columns: repeat(2, 1fr);
    }

    .section-five {

    grid-template-columns: 1fr;

    gap: 10px;

    padding: 10px;

    width: 100%;
}

.section-five-text {

    text-align: right;

    font-size: 0.8rem;
}

.section-five-video {

    width: 100%;

    aspect-ratio: 16 / 9;

    object-fit: cover;
}

.section-six {

    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: repeat(2, auto);

    height: auto;

    gap: 10px;

    width: 100%;

    padding: 0px 10px ;
}

.section-six-feature,
.section-six-image {

    aspect-ratio: 3 / 4;

    height: auto;
}

.section-six-feature img {

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.section-six-image {

    width: 100%;
    height: 100%;

    object-fit: cover;
}
.section-six-text {

    top: 0px;
    left: 0px;

    max-width: 80%;
}

.section-six-text p {
    font-size: 0.7rem;
}

.section-seven {

        width: 100%;

        margin: 0;

        padding: 10px;

        display: flex;

        flex-direction: column;

        gap: 10px;
    }

    .section-seven-video {

        order: 1;

        width: 75%;

        margin: 0 auto;

        aspect-ratio: 1 / 1;

        object-fit: cover;
    }

    .section-seven-image {

        order: 2;

        width: 100%;

        aspect-ratio: 16 / 10;

        object-fit: cover;
    }

 .section-eight {

        width: 90%;

        margin: 0 auto;

        grid-template-columns:
            repeat(2, 1fr);

        gap: 10px;

       padding: 0px 10px;
       padding-bottom: 10px;
    }


    .section-eight-video {

        aspect-ratio: 3 / 4;

        border-radius: 0;

    }

    .section-nine {

        width: 100%;
        display: grid;

        grid-template-columns: 1fr 1fr;

        gap: 10px;

        padding: 10px;
    }

    .section-nine-top {
        display: contents;
    }

    .section-nine-portraits {
        display: contents;
    }

    .section-nine-text {

        grid-column: 1;

        grid-row: 1;

        padding-top: 10px;

        text-align: right;
    }

    .section-nine-text p{
        font-size: 0.8rem;
    }

    .section-nine-portraits img {
        aspect-ratio: 3 / 4;
    }

    .section-nine-portraits img:nth-child(1) {

        grid-column: 2;

        grid-row: 1;
    }

    .section-nine-portraits img:nth-child(2) {
        grid-column: 1;

        grid-row: 2;
    }

    .section-nine-portraits img:nth-child(3) {
        grid-column: 2;

        grid-row: 2;
    }

    .section-nine-landscapes {
        grid-column: 1 / -1;

        display: grid;

        grid-template-columns: 1fr;

        gap: 10px;
    }

    .section-nine-landscapes img {
        aspect-ratio: 16 / 11;

    }

    .section-ten{
        padding: 10px 10px 30px;

        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "video text"
            "image image";

        gap: 10px;

        align-items: center;
    }

    .section-ten-text{
        grid-area: text;

        width: 100%;
        max-width: none;

        padding-top: 0;
        padding-bottom: 0;

        text-align: left;
    }
    .section-ten-text p{
        font-size: 0.8rem;
    }

    .section-ten-media{
        display: contents;
    }

    .section-ten .caption-wrapper{
        height: auto;
    }

    .section-ten .caption-wrapper:has(.section-ten-video){
        grid-area: video;
    }

    .section-ten .caption-wrapper:has(.section-ten-image){
        grid-area: image;
    }

    .section-ten-video{
        aspect-ratio: 3 / 4;
        height: auto;
    }

    .section-ten-image{
        aspect-ratio: 16 / 10;
        height: auto;
    }

   .section-eleven {
    width: 100%;
    padding: 0 10px 50px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}


.section-eleven-row-one {
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.section-eleven-text {
    width: 100%;

    padding: 10px 0 10px;

    text-align: center;

}

.section-eleven-text p {
    margin: 0;    
    font-size: 0.8rem;
}


.section-eleven-video {
    width: 100%;
    height: auto;

    aspect-ratio: 16 / 9;

    object-fit: cover;

    display: block;
}

.section-eleven-row-two {
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.section-eleven-image {
    width: 100%;

    aspect-ratio: 16 / 10;

    object-fit: cover;

    display: block;
}
}

@media (min-width: 701px) and (max-width: 900px) {

  .project-layout{
    flex-direction:column;

    gap:20px;

    padding:10px;
  }

    .project-intro {
  width: 100%;

  min-height: 450px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  align-items: end;

  padding: 40px 40px 24px;
}
    .project-intro-content {
  grid-column: 6 / 12;

  width: 100%;
  max-width: 650px;
}
  .project-intro-title {
    font-size: 1.5rem;
    padding-top: 50px;
  }

  .project-intro-title2 {
    font-size: 1.15rem;
  }

  .project-intro-description {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.2rem;
  }
  .section-one,
  .section-two,
  .section-three,
  .section-four,
  .section-five,
  .section-six, 
  .section-seven,
  .section-eight,
  .section-nine,
  .section-ten,
  .section-eleven{
    padding-top: 20px;
    width: 100%;
}

  .section-two-text p,
  .section-three-text p,
  .section-five-text p,
  .section-six-text p,
  .section-nine-text p,
  .section-ten-text p,
  .section-eleven-text p{
    font-size: 1rem;
  }

  .section-one .caption-wrapper{
    display: block;
    width: 100%;
    height: 350px;
  }

  .section-two {
        grid-template-columns: 1fr;
    }

    .section-two-text {
        text-align: center;
        padding-top: 0;
    }

    .section-two-images {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    }

    .section-three {
        display: grid;
        padding: 10px;
        width: 85%;

        margin: 0 auto;

        grid-template-columns: 0.8fr 1fr;

        grid-template-areas:
            "top top"
            "portrait middle";

        gap: 10px;

        align-items: start;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 10;
        object-fit: cover;
    }

    .section-three-middle {
        display: contents;
    }

    .section-three-middle .caption-wrapper{
        display: contents;
    }

    .section-three .caption-wrapper:has(.section-three-portrait){
        display: block;
        width: 100%;
        grid-area: portrait;
    }

    .section-three-landscape-small {
        grid-area: top;

        width: 100%;

        aspect-ratio: 16 / 6.5;

        object-fit: cover;
    }

    .section-three-portrait {
        width: 100%;

        aspect-ratio: 3 / 4.1;

        height: 100%;

        object-fit: cover;
    }

    .section-three-right {
        grid-area: middle;

        display: grid;

        gap: 10px;

        align-content: start;
    }

    .section-three-right .caption-wrapper{
        display: block;
        width: 100%;
    }

    .section-three-landscape-large {
        width: 100%;

        aspect-ratio: 16 / 10;

        object-fit: cover;
    }

    .section-three-text {
        padding-top: 0px;

        text-align: left;
    }


.section-four {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
    padding: 50px 10px;
}
.section-five {
    padding: 20px;
}
.section-five-text {

    text-align: center;
}

    .section-six {
        width: 90%;
         margin: 0 auto;
        height: 420px;

        display: flex;
        flex-direction: row;

        gap: 20px;
        padding: 20px;

        overflow-x: auto;
        overflow-y: hidden;

        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;

        scrollbar-width: thin;
    }

    .section-six::-webkit-scrollbar {
        height: 5px;
    }

    .section-six::-webkit-scrollbar-track {
        background: rgba(255,255,255,0.15);
        border-radius: 10px;
    }

    .section-six::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.6);
        border-radius: 10px;
    }


    .section-six-feature {
        flex: 0 0 420px;
        width: 420px;
        min-width: 420px;

        height: 400px;

        position: relative;
        overflow: hidden;

        scroll-snap-align: start;
    }

    .section-six-image {
        flex: 0 0 290px;
        width: 290px;
        min-width: 290px;

        height: 420px;

        object-fit: cover;
        display: block;

        scroll-snap-align: start;

    }

    .section-six-feature img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        display: block;
    }
    .section-six-text{
    position: absolute;

    top: 20px;
    left: 20px;

    z-index: 2;

    max-width: 64%;
}
.section-seven {

    width: 100%;

    display: grid;

    grid-template-columns:
        2fr
        1.2fr;

    gap: 10px;

    padding-top: 60px;


    align-items: start;
}
.section-seven-image {

    width: 100%;

    aspect-ratio: 18 / 12;

    object-fit: cover;

    display: block;
}


.section-seven-video {

    width: 100%;
    height: 100%;

    aspect-ratio: 1 / 1;

    object-fit: cover;

    display: block;
}

.section-eight {
    width: 70%;

    padding: 10px;
    padding-bottom: 60px;
    padding-top: 60px;

    margin: 0 auto;

    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 20px;
}
.section-nine {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 30px;
    }

    .section-nine-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section-nine-text {
        width: 100%;
        order: 1;

        padding-top: 0;

        text-align: center;
    }
    .section-nine-portraits {
        width: 100%;
        order: 2;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .section-nine-portraits img {
        width: 100%;
        aspect-ratio: 3 / 4;
        object-fit: cover;
        display: block;
    }
    .section-nine-landscapes {
        width: 100%;
        order: 3;
padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .section-nine-landscapes img {
        width: 100%;
        aspect-ratio: 16 / 12;
        object-fit: cover;
        display: block;
    }

    .section-ten {
    width: 100%;
    padding: 10px 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.section-ten-text {
    grid-area: unset;

    width: 50%;
    max-width: 650px;

    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;

    font-size: 1rem;
}

.section-ten-media {
    display: grid;

    width: 90%;
    margin: 0 auto;
    align-items: stretch;

    grid-template-columns: minmax(260px, 1fr) minmax(0, 2fr);

    gap: 10px;
}

.section-ten .caption-wrapper{
    height: 300px;
}

.section-ten .caption-wrapper:has(.section-ten-video),
.section-ten .caption-wrapper:has(.section-ten-image){
    grid-area: auto;
}

.section-ten-video,
.section-ten-image {
    width: 100%;
    height: 100%;

    min-width: 0;

    aspect-ratio: unset;

    object-fit: cover;
    display: block;
}

    .section-eleven {
        width: 100%;
        padding: 10px 30px 60px;

        display: flex;
        flex-direction: column;

        gap: 10px;
    }


    .section-eleven-row-one {
        width: 100%;
        margin: 0;

        display: flex;
        flex-direction: column;

        gap: 10px;
    }

    .section-eleven-text {
        width: 100%;

        padding: 10px 0;

        text-align: center;

        font-size: 1rem;
    }

    .section-eleven-text p {
        margin: 0;
    }

    .section-eleven-video {
        width: 100%;
        height: auto;

        aspect-ratio: 16 / 9;

        object-fit: cover;

        display: block;
    }

    .section-eleven-row-two {
        width: 100%;
        margin: 0;

        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 10px;
    }

    .section-eleven-image {
        width: 100%;

        aspect-ratio: 16 / 12;

        object-fit: cover;

        display: block;
    }

}
@media (max-width: 380px) {

    .project-layout {
        padding: 5px;
        margin-top: 20px;
    }

    .project-intro {
        min-height: 260px;
        padding: 20px 10px 10px;
    }

    .project-intro-content {
        grid-column: 3 / 9;
        max-width: 250px;
    }

    .project-intro-title {
        font-size: 0.9rem;
    }

    .project-intro-title2 {
        font-size: 0.8rem;
    }

    .project-intro-description {
        font-size: 0.8rem;
    }
.section-title-mobile{
    font-size: 0.5rem;
}
.section-title {
    font-size: 0.5rem;

}
.section-two-text,
.section-three-text,
.section-five-text,
     .section-nine-text ,
    .section-ten-text ,
.section-eleven-text {
        font-size: 0.7rem;
    }

}

@media (min-width: 901px) and (max-width: 1100px) {

    body {
        overflow-x: hidden;
    }

    .project-layout {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    
.project-intro-content {
  grid-column: 6 / 11;
  width: 100%;
  max-width: 450px;
}
 .project-intro-title {
    font-size: 1.6rem;
  }
    .project-intro-title2 {
    font-size: 1.3rem;
  }
    .project-intro-description {
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 1.3rem;
  }
    .section-one,
    .section-two,
    .section-three,
    .section-four,
    .section-five,
    .section-six,
    .section-seven,
    .section-eight,
    .section-nine,
    .section-ten,
    .section-eleven,
    .dissertation-link {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    img,
    video {
        max-width: 100%;
    }

      .section-two-text p,
  .section-three-text p,
  .section-five-text p,
  .section-six-text p,
  .section-nine-text p,
  .section-ten-text p,
  .section-eleven-text p{
    font-size: 1.2rem;
  }
  .section-one .caption-wrapper{
    display: block;
    width: 100%;
    height: 350px;
  }

  .section-two {
        grid-template-columns: 1fr;
    }

    .section-two-text {
        text-align: center;
        padding-top: 0;
    }

    .section-two-images {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    }

    .section-three {
        display: grid;
        padding: 10px;
        width: 85%;

        margin: 0 auto;

        grid-template-columns: 0.8fr 1fr;

        grid-template-areas:
            "top top"
            "portrait middle";

        gap: 10px;

        align-items: start;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 10;
        object-fit: cover;
    }

    .section-three-middle {
        display: contents;
    }

    .section-three-middle .caption-wrapper{
        display: contents;
    }

    .section-three .caption-wrapper:has(.section-three-portrait){
        display: block;
        width: 100%;
        grid-area: portrait;
    }
    .section-three-landscape-small {
        grid-area: top;

        width: 100%;

        aspect-ratio: 16 / 6.5;

        object-fit: cover;
    }

    .section-three-portrait {
        width: 100%;

        aspect-ratio: 3 / 4.1;

        height: 100%;

        object-fit: cover;
    }

    .section-three-right {
        grid-area: middle;

        display: grid;

        gap: 10px;

        align-content: start;
    }

    .section-three-right .caption-wrapper{
        display: block;
        width: 100%;
    }

    .section-three-landscape-large {
        width: 100%;

        aspect-ratio: 16 / 10;

        object-fit: cover;
    }

    .section-three-text {
        padding-top: 0px;

        text-align: left;
    }
.section-four {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
    padding: 50px 10px;
}
.section-five {
    padding: 20px;
}
.section-five-text {

    text-align: center;
}

    .section-six {
        width: 90%;
         margin: 0 auto;
        height: 420px;

        display: flex;
        flex-direction: row;

        gap: 20px;
        padding: 20px;

        overflow-x: auto;
        overflow-y: hidden;

        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;

    scrollbar-width: auto;
    scrollbar-color: #555 #d0d0d0;
    }

    .section-six::-webkit-scrollbar {
        height: 10px;
    }

    .section-six::-webkit-scrollbar-track {
          background: #d0d0d0;
    border-radius: 999px;
    }

    .section-six::-webkit-scrollbar-thumb {
           background: #555;
    border-radius: 999px;
    }


    .section-six-feature {
        flex: 0 0 420px;
        width: 420px;
        min-width: 420px;

        height: 400px;

        position: relative;
        overflow: hidden;

        scroll-snap-align: start;
    }

    .section-six-image {
        flex: 0 0 290px;
        width: 290px;
        min-width: 290px;

        height: 420px;

        object-fit: cover;
        display: block;

        scroll-snap-align: start;

    }

    .section-six-feature img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        display: block;
    }
    .section-six-text{
    position: absolute;

    top: 20px;
    left: 20px;

    z-index: 2;

    max-width: 64%;
}
.section-seven {

    width: 100%;

    display: grid;

    grid-template-columns:
        2fr
        1.2fr;

    gap: 10px;

    padding-top: 60px;


    align-items: start;
}
.section-seven-image {

    width: 100%;

    aspect-ratio: 18 / 12;

    object-fit: cover;

    display: block;
}


.section-seven-video {

    width: 100%;
    height: 100%;

    aspect-ratio: 1 / 1;

    object-fit: cover;

    display: block;
}

.section-eight {
    width: 70%;

    padding: 10px;
    padding-bottom: 60px;
    padding-top: 60px;

    margin: 0 auto;

    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 20px;
}
.section-nine {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 30px;
    }

    .section-nine-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section-nine-text {
        width: 100%;
        order: 1;

        padding-top: 0;

        text-align: center;
    }
    .section-nine-portraits {
        width: 100%;
        order: 2;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .section-nine-portraits img {
        width: 100%;
        aspect-ratio: 3 / 4;
        object-fit: cover;
        display: block;
    }
    .section-nine-landscapes {
        width: 100%;
        order: 3;
padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .section-nine-landscapes img {
        width: 100%;
        aspect-ratio: 16 / 12;
        object-fit: cover;
        display: block;
    }

    .section-ten {
    width: 100%;
    padding: 10px 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.section-ten-text {
    grid-area: unset;

    width: 50%;
    max-width: 650px;

    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;

}

.section-ten-media {
    display: grid;

    width: 90%;
    margin: 0 auto;
    align-items: stretch;

    grid-template-columns: minmax(260px, 1fr) minmax(0, 2fr);

    gap: 10px;
}

.section-ten .caption-wrapper{
    height: 300px;
}

.section-ten .caption-wrapper:has(.section-ten-video),
.section-ten .caption-wrapper:has(.section-ten-image){
    grid-area: auto;
}

.section-ten-video,
.section-ten-image {
    width: 100%;
    height: 100%;

    min-width: 0;

    aspect-ratio: unset;

    object-fit: cover;
    display: block;
}

    .section-eleven {
        width: 100%;
        padding: 10px 30px 60px;

        display: flex;
        flex-direction: column;

        gap: 10px;
    }
 .section-eleven-row-one {
        width: 100%;
        margin: 0;

        display: flex;
        flex-direction: column;

        gap: 10px;
    }

    .section-eleven-text {
        width: 100%;

        padding: 10px 0;

        text-align: center;

    }

    .section-eleven-video {
        width: 100%;
        height: auto;

        aspect-ratio: 16 / 9;

        object-fit: cover;

        display: block;
    }

    .section-eleven-row-two {
        width: 100%;
        margin: 0;

        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 10px;
    }

    .section-eleven-image {
        width: 100%;

        aspect-ratio: 16 / 12;

        object-fit: cover;

        display: block;
    }
}